h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 3rem;
  color: rgba(9, 146, 105, 0.8);
}




  .example-card {
    background-color: #CFFFCD;
    max-width: 350px;
    margin-bottom: 30px;
  }
  
  .example-header-image {
    //background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  img{
    width: 350px;
    height: 400px;
    object-fit: cover;
  }
  p{
    word-wrap: break-word;
  }

  mat-divider{
    margin-top: 5px;
    margin-bottom:5px ;
  }