  
<mat-card  class="example-card">
  <div class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image" style="background-image: url({{ARICLE_URL}}/{{article.idArt}}/image/download)"></div>
      <mat-card-title>{{article.nom}}</mat-card-title>
      <mat-card-subtitle>{{article.idArt}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{ARICLE_URL}}/{{article.idArt}}/image/download" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        {{article.description}}
      </p>
      
      <mat-divider ></mat-divider>

      <mat-chip *ngFor="let cat of catsForArt[0];">
        {{cat.nomCat}}
      </mat-chip>

      <mat-divider ></mat-divider>

      <h1>{{article.quantity}}</h1>
      
    </mat-card-content>
  
    <mat-card-actions>
      <button (click)="addArticleQuantity(article.idArt)" mat-mini-fab color="primary" >
        <mat-icon >add</mat-icon>
      
      </button>
      <button (click)="removeArticleQuantity(article.idArt)" mat-mini-fab color="primary">
        <mat-icon >remove</mat-icon>
      </button>
    </mat-card-actions>
  </div>
  
</mat-card>