
<mat-toolbar color="primary">
    <button (click)="navigateHeader('home')" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <button (click)="navigateHeader('historique')" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>history</mat-icon>
    </button>
    <span>Home Management</span>
    <span class="example-spacer"></span>

    <mat-form-field appearance="fill">
      <mat-label>Recherche d'Articel</mat-label>
      <input list="list-articles" matInput placeholder="Placeholder">
        <datalist  id="list-articles">
              <option *ngFor="let article of allArticles[0]" value={{article.nom}}></option>
        </datalist>

      <mat-icon color="primary" matSuffix>search</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
</mat-toolbar>